/* Custom styles for the sidebar */
#sidebar {
    min-width: 250px;
    max-width: 250px;
    background-color: #0877e6;
    color: #08237e;
    transition: all 0.3s;
}

#sidebar .nav-link {
    text-align: left;
    padding: 15px 10px;
    transition: all 0.3s;
}

#sidebar .nav-link i {
    margin-right: 10px;
}

#sidebar .nav-link:hover {
    background-color: #555;
}

#sidebar .active {
    background-color: rgb(128, 128, 128);
}

#sidebar .active:hover {
    background-color: #007bff;
}

/* Main content area styles */
#main-content {
    transition: margin-left 0.3s;
    padding: 15px;
}

.cards {
    transition: transform 0.3s ease-in-out;
}

.cards:hover {
    transform: scale(1.1);
} 